{
	"name": "DS - Kafka Connector - {{ENVIRONMENT_SHORT}} | {{item}}",
	"namespace": "digital_selling",
	"description": "Monitor for checking Kafka Connector Status",
	"package": {
		"name": "synthetics",
		"title": "Elastic Synthetics",
		"version": "0.11.3",
		"experimental_data_stream_features": []
	},
	"inputs": [
			{
				"policy_template": "synthetics",
				"streams": [
					{
						"data_stream": {
							"elasticsearch": {
								"privileges": {
									"indices": [
										"auto_configure",
										"create_doc",
										"read"
									]
								}
							},
							"type": "synthetics",
							"dataset": "http"
						},
						"vars": {
							"check.request.body": {
								"type": "yaml",
								"value": null
							},
							"check.response.headers": {
								"type": "yaml",
								"value": null
							},
							"origin": {
								"type": "text"
							},
							"type": {
								"type": "text",
								"value": "http"
							},
							"max_redirects": {
								"type": "integer",
								"value": "0"
							},
							"enabled": {
								"type": "bool",
								"value": true
							},
							"timeout": {
								"type": "text",
								"value": "16s"
							},
							"ssl.key": {
								"type": "yaml",
								"value": null
							},
							"check.response.body.positive": {
								"type": "yaml",
								"value": null
							},
							"urls": {
								"type": "text",
								"value": "http://kafka-connect.production53.kafka.marathon.dcos-eu.pvhcorp.com:8083/connectors/{{item}}/status"
							},
							"password": {
								"type": "password",
								"value": null
							},
							"check.request.headers": {
								"type": "yaml",
								"value": null
							},
							"ssl.verification_mode": {
								"type": "text",
								"value": null
							},
							"run_once": {
								"type": "bool",
								"value": false
							},
							"__ui": {
								"type": "yaml",
								"value": "{\"is_tls_enabled\":false,\"is_zip_url_tls_enabled\":false}"
							},
							"check.response.status": {
								"type": "yaml",
								"value": "[\"200\"]"
							},
							"id": {
								"type": "text",
								"value": ""
							},
							"response.include_body": {
								"type": "text",
								"value": "always"
							},
							"ssl.supported_protocols": {
								"type": "yaml",
								"value": null
							},
							"monitor.project.id": {
								"type": "text"
							},
							"service.name": {
								"type": "text",
								"value": ""
							},
							"ssl.certificate_authorities": {
								"type": "yaml",
								"value": null
							},
							"monitor.project.name": {
								"type": "text"
							},
							"tags": {
								"type": "yaml",
								"value": "[\"production\",\"production53\",\"digital selling\"]"
							},
							"schedule": {
								"type": "text",
								"value": "\"@every 1m\""
							},
							"ssl.certificate": {
								"type": "yaml",
								"value": null
							},
							"location_name": {
								"type": "text",
								"value": "Fleet managed"
							},
							"ssl.key_passphrase": {
								"type": "text",
								"value": null
							},
							"config_id": {
								"type": "text",
								"value": ""
							},
							"name": {
								"type": "text",
								"value": "DS - Kafka Connector - {{ENVIRONMENT_SHORT}} | {{item}}"
							},
							"response.include_headers": {
								"type": "bool",
								"value": true
							},
							"check.response.body.negative": {
								"type": "yaml",
								"value": "[\"PROVISIONING\",\"STOPPED\",\"PAUSED\",\"FAILED\"]"
							},
							"proxy_url": {
								"type": "text",
								"value": ""
							},
							"check.request.method": {
								"type": "text",
								"value": "GET"
							},
							"username": {
								"type": "text",
								"value": ""
							}
						},
						"enabled": true
					}
				],
				"type": "synthetics/http",
				"enabled": true
			}
		],
  "vars": {},
	"enabled": true,
	"policy_id": "73b0dea0-8e03-11ec-841e-a50e71c5a508",
	"force": true
}