{
    "name": "ElasticsearchSinkConnector_0",
    "config": {
      "topics": "V_MET_WARNING",
      "input.data.format": "JSON",
      "connector.class": "ElasticsearchSink",
      "name": "ElasticsearchSinkConnector_0",
      "kafka.auth.mode": "SERVICE_ACCOUNT",
      "kafka.service.account.id": "{{KAFKA_SERVICE_ACCOUNT_ID}}",
      "connection.url": "https://elasticsearch.siobytes.com",
      "connection.username": "elastic",
      "connection.password": "elkpassword",
      "elastic.security.protocol": "PLAINTEXT",
      "tasks.max": "1",
      "data.stream.type": "none"
    }
  }