{
    "name": "ElasticsearchSinkConnector_0",
    "config": {
      "topics": "V_MET_WARNING",
      "input.data.format": "JSON",
      "connector.class": "ElasticsearchSink",
      "name": "ElasticsearchSinkConnector_0",
      "kafka.auth.mode": "KAFKA_API_KEY",
      "kafka.api.key": "AKADULKHFAT2PPWI",
      "kafka.api.secret": "wpYwQ5jMt3mKPF/KcQJwxvtpI29xoW6El3TfjMEhK5elGNR107oPQ+ZlbDuUnzMH",
      "connection.url": "https://elasticsearch.siobytes.com",
      "connection.username": "elastic",
      "connection.password": "elkpassword",
      "elastic.security.protocol": "PLAINTEXT",
      "tasks.max": "1",
      "data.stream.type": "none"
    }
  }