{
    "name": "JiraSourceConnector_1",
    "config": {
        "cloud.environment": "prod",
        "cloud.provider": "aws",
        "connector.class": "JiraSource",
        "jira.api.token": "{{JIRA_API_TOKEN}}",
        "jira.resources": "issues, issue_comments, issue_transitions, resolutions, changelogs",
        "jira.since": "2022-01-01 01:00",
        "jira.url": "{{JIRA_URL}}",
        "jira.username": "{{JIRA_USERNAME}}",
        "kafka.api.key": "{{KAFKA_CLUSTER_USERNAME}}",
        "kafka.api.secret": "{{KAFKA_CLUSTER_PASSWORD}}",
        "kafka.auth.mode": "KAFKA_API_KEY",
        "kafka.endpoint": "{{KAFKA_ENDPOINT}}",
        "kafka.region": "eu-central-1",
        "name": "JiraSourceConnector_1",
        "output.data.format": "JSON",
        "tasks.max": "1",
        "topic.name.pattern": "jira_test_${resourceName}"
    },
    "tasks": [
    {
    "connector": "JiraSourceConnector_1",
    "task": 1
    }
    ],
    "type": "source"
}