{
  "ksql": "CREATE STREAM S_HOMEASSISTANT_ENHANCED WITH (KAFKA_TOPIC='S_HOMEASSISTANT_ENHANCED', PARTITIONS=6, REPLICAS=3, VALUE_FORMAT='JSON') AS SELECT ENTITY_ID `entity`, CONTEXT->ID `id`, ATTRIBUTES `attributes`, LAST_CHANGED `lastChanged`, LAST_UPDATED `lastUpdated`, STATE `state` FROM S_HOMEASSISTANT S_HOMEASSISTANT EMIT CHANGES;",
  "streamProperties":{}
}