{
    "ksql": "CREATE STREAM S_HOMEASSISTANT_II (ENTITY_ID STRING, STATE STRING, ATTRIBUTES MAP<STRING, STRING>, LAST_CHANGED STRING, LAST_UPDATED STRING, CONTEXT STRUCT<ID STRING, PARENT_ID STRING, USER_ID STRING>) WITH (KAFKA_TOPIC='homeassistant', PARTITIONS=6, REPLICAS=3, KEY_FORMAT='NONE', VALUE_FORMAT='JSON');",
    "streamProperties": {}
}