{
  "name": "ServiceNowSourceConnector_0",
  "config": {
    "connector.class": "ServiceNowSource",
    "name": "ServiceNowSourceConnector_0",
    "kafka.auth.mode": "SERVICE_ACCOUNT",
    "kafka.service.account.id": "{{KAFKA_SERVICE_ACCOUNT_ID}}",
    "kafka.topic": "ServiceNow",
    "output.data.format": "JSON",
    "servicenow.url": "https://dev103328.service-now.com/",
    "servicenow.table": "incident",
    "servicenow.user": "admin",
    "servicenow.password": "{{SERVICENOW_PASSWORD}}",
    "tasks.max": "1"
  }
}