{
  "name": "ServiceNowSourceConnector_0",
  "config": {
    "connector.class": "ServiceNowSource",
    "name": "ServiceNowSourceConnector_0",
    "kafka.auth.mode": "KAFKA_API_KEY",
    "kafka.api.key": "SMYPQQLOMSERBMUH",
    "kafka.api.secret": "Ot7fWRXfMGmDn1SkAtcXWXsXh6zuY1TuYmYr4U/JyUIrC2V7tw47Skh8LVn6dBxc",
    "kafka.topic": "ServiceNow",
    "output.data.format": "JSON",
    "servicenow.url": "https://dev103328.service-now.com",
    "servicenow.table": "incident",
    "servicenow.user": "admin",
    "servicenow.password": "Eeo04L$b+tJK",
    "tasks.max": "1"
  }
}