{
  "ksql": "CREATE TABLE V_HOMEASSISTANT_ENTITY_II WITH (KAFKA_TOPIC='V_HOMEASSISTANT_ENTITY', PARTITIONS=6, REPLICAS=3, VALUE_FORMAT='JSON') AS SELECT `ENTITY_ID`, COLLECT_SET(`STATE`) AS `distinctValues`, COUNT(`LAST_CHANGED`) AS `stateChanges` FROM S_HOMEASSISTANT GROUP BY `ENTITY_ID` EMIT CHANGES;",
  "streamProperties":{}
}