{
  "ksql": "CREATE TABLE V_MET_WARNING WITH (KAFKA_TOPIC='V_MET_WARNING', PARTITIONS=6, REPLICAS=3, VALUE_FORMAT='JSON') AS SELECT `ENTITY_ID`, LATEST_BY_OFFSET(`ATTRIBUTES`) AS attributes, LATEST_BY_OFFSET(`STATE`) AS state FROM S_HOMEASSISTANT WHERE (`ENTITY_ID` = 'binary_sensor.meteoalarm') GROUP BY `ENTITY_ID` EMIT CHANGES;",
  "streamProperties":{}
}